#  node modules
node_modules
# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Merge Video temp files, video from download of nextCloud
temp_videos

service-key-laserrens-video.json
gallardo-sheets-bot-3a8479c8d627.json
.env
.venv/
venv/
logs/
__pycache__/
crop_16_9_9x16_20251230-160412_Video by jeffmillermarketingTEMP_MPY_wvf_snd.mp4
crop_16_9_9x16_20251230-160508_Video by jeffmillermarketingTEMP_MPY_wvf_snd.mp4
